{% extends "base.html" %}

{% block content %}

    <table id="main">
        <thead>
            <tr>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                  {% for message in messages %}
                        <tr>
                            <td>{{ message }}</td>
                        </tr>
                  {% endfor %}
               {% endif %}
            {% endwith %}
        </tbody>
    </table>

{% endblock %}