{% extends "base.html" %}

{% block content %}

    {% if form is defined %}
        <form action='' method='POST' id='submitform'><button type="submit" class="submit">submit</button>
    {% endif %}
    <table id="main">
        <thead>
            <tr>
                {% if form is defined %}
                <th></th>
                {% endif %}
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% with messages = get_flashed_messages() %}
               {% if messages %}
                  {% for message in messages %}
                        <tr>
                            {% if form is defined %}
                            <td>
                                <div class="checkbox">
                                  <label><input type="checkbox" name="check" value="{{loop.index}}"  checked></label>
                                </div>
                            </td>
                            {% endif %}
                            <td>{{ message }}</td>
                        </tr>
                  {% endfor %}
               {% else %}
                    <tr>
                        <td>No new messages.</td>
                    </tr>
               {% endif %}
            {% endwith %}
        </tbody>
    </table>
    {% if form is defined %}
     </form>
    {% endif %}

{% endblock %}