{% extends "base.html" %}

{% block content %}

    <table id="review_items">
        <thead>
            <tr>
                <th></th>
                <th><a class ="fa fa-sort-amount-asc sort-icon" href="/sort_review_item/creation_date/asc"></a>
                    <a class ="fa fa-sort-amount-desc sort-icon" href="/sort_review_item/creation_date/desc"></a>created</th>
                <th><a class ="fa fa-sort-amount-asc sort-icon" href="/sort_review_item/name/asc"></a>
                    <a class ="fa fa-sort-amount-desc sort-icon" href="/sort_review_item/name/desc"></a>review item</th>
                <th><a class ="fa fa-sort-amount-asc sort-icon" href="/sort_review_item/creator/asc"></a>
                    <a class ="fa fa-sort-amount-desc sort-icon" href="/sort_review_item/creator/desc"></a>creator</th>
                <th><a class ="fa fa-sort-amount-asc sort-icon" href="/sort_review_item/review_type/asc"></a>
                    <a class ="fa fa-sort-amount-desc sort-icon" href="/sort_review_item/review_type/desc"></a>review type</th>
                <th>note</th>
                <th></th>
                <th>reviewed</th>
                <th></th>
                <th><a class ="fa fa-sort-amount-asc sort-icon" href="/sort_review_item/reviewer/asc"></a>
                    <a class ="fa fa-sort-amount-desc sort-icon" href="/sort_review_item/reviewer/desc"></a> reviewer</th>
                <th>approved</th>
                 <th>note</th>
            </tr>
        </thead>
        <tbody>
           {% for review_item in review_items %}
            <tr>
                <td><a class ="fa fa-pencil edit-icon" href="/edit_review_item/{{review_item.id}}"></a>
                    <a class ="fa fa-trash trash-icon" href="/del_review_item/{{review_item.id}}"> </a></td>
                <td><span class="review-item-text">{{review_item.creation_date|datetime('medium')}}</span></td>
                <td><span class="review-item-text">{{review_item.name}}</span></td>
                <td><span class="review-item-text">{{review_item.creator.name}}</span></td>
                <td><span class="review-item-text">{{review_item.review_type.name}}</span></td>
                <td><span class="review-item-text">{{review_item.reviewed_aspect}}</span></td>
                <td><a class ="fa  fa-plus-square-o new-icon" href="/new_review/{{review_item.id}}"></a></td>
                <!--
                <td>reviews: {{review_item.reviews|length}}</td>
                -->

                {% if review_item.reviews|length > 0 %}
                    {% for review in review_item.reviews %}
                        {% if loop.index == 1 %}
                            <td><span class = "review-text">{{review.review_date|datetime('medium')}}</span></td>
                            <td><a class ="fa fa-pencil edit-icon" href="/edit_review/{{review.id}}"></a> <a class ="fa fa-trash trash-icon" href="/del_review/{{review.id}}"> </a></td>
                            <td><span class = "review-text">{{review.reviewer.name}}</span></td>
                            {% if review.approved == true %}
                                <td><span class = "review-text">{{review.approved}}</span></td>
                            {% else %}
                                <td><span class = "warning">{{review.approved}}</span></td>
                            {% endif %}
                            <td><span class = "review-text">{{review.note}}</span></td>
                        {% else %}
                            <tr>
                                <!-- <td>{{loop.index}}</td> -->
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                 <td></td>
                                <td><span class = "review-text">{{review.review_date|datetime('medium')}}</span></td>
                                <td><a class ="fa fa-pencil edit-icon" href="/edit_review/{{review.id}}"> </a> <a class ="fa fa-trash trash-icon" href="/del_review/{{review.id}}"> </a></td>
                                <td><span class = "review-text">{{review.reviewer.name}}</span></td>
                                {% if review.approved == true %}
                                    <td><span class = "review-text">{{review.approved}}</span></td>
                                {% else %}
                                    <td><span class = "warning">{{review.approved}}</span></td>
                                {% endif %}
                               <td><span class = "review-text">{{review.note}}</span></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <td><span class = "warning">no review</span></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}